<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        .subtitle{
            font-weight: bold;
            font-size: 1.2em;
        }
        .subsubtitle{
            font-weight: bold;
        }
    </style>
    <title>检索系统</title>
</head>
<body style="background-color: #EBEBEB">
<center>
    <div class="card bg-light mb-3" style="max-width: 80%;text-align: left; background-color:white;margin-top: 3em!important;">
        <div class="card-body">

            <p class="card-text subtitle">{{ title }}</p>
            <!-- <p class="card-text subsubtitle">本院认为</p> -->
            <p class="card-text">{{ content }}</p>
            <!-- <p class="card-text subsubtitle">审判人员</p>
            <p class="card-text">审判长杨阳<br />人民陪审员石顺芳<br />人民陪审员刘佩瑶</p>
            <p class="card-text subsubtitle">裁判日期</p>
            <p class="card-text">二〇一六年九月一日</p> -->
        </div>
    </div>
</center>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script>

</script>
</body>
</html>